.img {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}





.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

.register {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}